In [1]:
import numpy as np
import pandas as pd

In [4]:
tmp_list = ['인텔']
tmp_list

['인텔']

In [6]:
df = pd.DataFrame(["인텔", "인텔", "AMD"], columns = ['SOCKET1'])
df.loc[df['SOCKET1'] == "인텔"]

  SOCKET1
0      인텔
1      인텔